<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FLASH-CARDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="dropdown-item" href="{%url 'profile' user.username %}">Profile</a>
            </li>

            <li class="nav-item active"><a class="nav-link" href="/">Logout&nbsp;<i class="fas fa-sign-in-alt"></i></a></li>
        </ul>
        {% else %}

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'home'%}" style="padding-left: 5cm;">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown" style="padding-left: 5cm;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Registration
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{%url 'register'%}">SignUp</a>
                    <a class="dropdown-item" href="{%url 'login'%}">Login</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>

        </ul>
        {%endif%}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>